@import "tailwindcss";

@theme {
  --color-navy: #02184a;
  --color-navy-light: #032060;
  --color-red: #f70200;
  --color-cream: #ffffff;
  --font-display: "Bebas Neue", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}
